
{% extends 'materials_app/base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="text-end">
        {% if user.is_superuser %}
            <a class="btn btn-outline-secondary" href="#">Добавить курс</a>
        {% endif %}

    </div>
    <br>
    <div class="row">
        {% for object in object_list %}

            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        Курс: {{object.title}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{object.description}}</p>

                    </div>
                    <div class="card-footer">
                       <a class="btn btn-outline-secondary" href="{% url 'materials:course_detail' object.pk %}">Подробнее</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
